
.logoImg {
	margin: 0 auto;
	margin-bottom: 20px;
}

.nav {
	text-transform: uppercase;
}

.stickyButton {
	margin-bottom: 10px;
	position: fixed;
	right: 15px;
	top: 40%;
	z-index: 1;
	margin-right: 10px;
}

.sticky {
	text-transform: uppercase;
}

button.btn.btn-lg.btn-danger.sticky, button.btn.btn-danger.sticky{
	border-color: #37479e;
}
.mainImage {
	width: 100%;
	height: 750px;
	background: url("../img/jumbo.jpg") center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.subContentA {
	background-color: gold;
}

.p {
	text-align: justify;
}

.subContent {
	background-color: #37479e; 
}

.subHeading {
	padding: 10px;
	color: #37479e;
	text-transform: uppercase;
}

.subHeading2 {
	padding: 10px;
	color: gold;
	text-transform: uppercase;

}

img.img-responsive.subIcon {
	margin: 15px;
}

p.subText, p.subText2{
	padding: 10px;
}

p.subText2 {
	color: white;
}

.smallButtons{
	padding: 10px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.NavFoot{
	list-style-type: none;
	margin-top: 15px;
	padding-left: 0; 
}
.footerNav{
	display: inline;
	text-transform: uppercase;
	padding-right: 10px;
}
li.footerNav a{
	text-decoration: none;
	color: #777;
}

@media screen and (max-width: 650px) {
	.subHeading, .subHeading2 {
		text-align: center;
	}
	img.img-responsive.subIcon {
  		display: block;
  		margin-left: auto;
    	margin-right: auto;
	}
	.smallButtons{
		text-align: center;
	}

}


